extends ../pug/base

block app
	v-header(
		:menu-items=[
			{
				id: 1,
				title: 'Услуги',
				url: BASE_URL,
				submenu: [
					{
						id: 1,
						title: 'All',
						url: BASE_URL
					},
					{
						id: 2,
						title: 'Item 2',
						url: BASE_URL
					},
					{
						id: 3,
						title: 'Item 3 very long very long very long',
						url: BASE_URL
					},
					{
						id: 4,
						title: 'Item 4',
						url: BASE_URL
					}
				]
			},
			{
				id: 2,
				title: 'Каталог',
				url: BASE_URL,
				submenu: [
					{
						id: 1,
						title: 'All',
						url: BASE_URL
					},
					{
						id: 2,
						title: 'Item 2',
						url: BASE_URL
					},
					{
						id: 3,
						title: 'Item 3',
						url: BASE_URL
					}
				]
			},
			{
				id: 3,
				title: 'Наши работы',
				url: BASE_URL,
				submenu: null
			},
			{
				id: 4,
				title: 'О компании',
				url: BASE_URL,
				submenu: null
			},
			{
				id: 5,
				title: 'Контакты',
				url: BASE_URL,
				submenu: null
			}
		]
	)
