.sect-nav {
	@include initials-all;

	overflow: hidden;

	&__items {
		@include initials-all;

		column-width: 240px;
		column-gap: 2rem;
		margin-bottom: -1.5rem;
	}

	&__item {
		@include initials-all;

		page-break-inside: avoid;
		padding-bottom: 1.5rem;
	}

	&__link {
		@include initials-all;

		font-weight: 500;
		font-size: 16px;
		line-height: 1.25;
		color: #141414;
		transition: color 0.15s ease-in-out;
		cursor: pointer;

		&:hover {
			color: var(--color-default);
		}
	}
}
