.fast-links {
	@include initials-all;

	position: relative;
	display: flex;
	overflow: hidden;
	min-height: 100vh;
	background-color: var(--color-default);

	@media (orientation: portrait) {
		flex-direction: column;
		min-height: 0;
	}

	&:hover {
		.fast-links__item {
			.fast-links__item-bg {
				@media (orientation: landscape) {
					opacity: 0;
				}
			}

			+ .fast-links__bg {
				@media (orientation: landscape) {
					transition: opacity 0.5s ease-in-out;
				}
			}

			&:hover {
				.fast-links__item-bg {
					@media (orientation: landscape) {
						transition: opacity 0s 0.5s;
					}
				}

				+ .fast-links__bg {
					@media (orientation: landscape) {
						z-index: 2;
						opacity: 1;
					}
				}
			}

			&:not(:hover) {
				.fast-links__content {
					opacity: 0.5;
				}
			}
		}
	}

	&__item {
		@include initials-all;

		position: relative;
		z-index: 3;
		overflow: hidden;
		width: percentage(1 / 3);

		@media (orientation: portrait) {
			width: 100%;
		}

		&-bg {
			position: absolute;
			left: 0;
			top: 0;
			width: 100vw;
			height: 100%;
			background: none no-repeat 50% 50%/cover;
			transition: opacity 0.5s ease-in-out;

			&::before {
				content: "";
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
				background-color: rgba(26, 26, 26, 0.5);
			}

			&--two {
				left: -100%;

				@media (orientation: portrait) {
					left: 0;
				}
			}

			&--three {
				left: -200%;

				@media (orientation: portrait) {
					left: 0;
				}
			}
		}
	}

	&__content {
		@include initials-all;

		position: relative;
		display: flex;
		flex-flow: column;
		justify-content: center;
		padding: $grid-gutter-width / 2;
		height: 100%;
		transition: opacity 0.5s ease-in-out;

		@media (orientation: portrait) {
			min-height: 1 / 3 * 100vh;
		}
	}

	&__title {
		@include initials-all;

		font-weight: var(--content-headings-font-weight);
		font-size: var(--content-headings-font-size);
		line-height: var(--content-headings-line-height);
		text-align: center;
		color: var(--color-alabaster);
	}

	&__desc {
		@include initials-all;

		font-weight: 300;
		font-size: calc(var(--content-font-size) * 24 / #{$content-font-size});
		line-height: 1.25;
		text-align: center;
		color: var(--color-alabaster);

		p {
			margin: 0;
		}
	}

	&__link {
		@include initials-all;

		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		cursor: pointer;
	}

	&__bg {
		position: absolute;
		left: 0;
		top: 0;
		z-index: 1;
		width: 100vw;
		height: 100%;
		background: none no-repeat 50% 50%/cover;
		opacity: 0;
		transition: opacity 0s 0.5s;

		&::before {
			content: "";
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			background-color: rgba(26, 26, 26, 0.5);
		}
	}
}
