.projects-list {
	@include initials-all;

	&__item {
		@include initials-all;

		& + & {
			margin-top: 2rem;
		}
	}

	&__title {
		@include initials-all;

		font-weight: 700;
		font-size: 18px;
		line-height: 1.25;
		color: var(--color-bg-default);

		a {
			display: block;
			text-decoration: none;
			color: inherit;
			transition: color 0.15s ease-in-out;

			&:hover {
				color: #fff;
			}
		}
	}

	&__link {
		@include initials-all;

		display: inline;
		font-size: 12px;
		line-height: 1.25;
		color: var(--color-bg-default);
		transition: color 0.15s ease-in-out;
		cursor: pointer;

		&:hover {
			color: #fff;
		}
	}
}
