@keyframes running-string {
	from {
		margin-left: calc(100% + 1rem);
		transform: translateX(0);
	}

	to {
		margin-left: -1rem;
		transform: translateX(-100%);
	}
}

.running-string {
	@include initials-all;

	display: flex;
	overflow: hidden;
	padding: 1rem;

	&__line {
		@include initials-all;

		flex-shrink: 0;
		font-weight: 700;
		font-size: 150px / 1920px * 100vw;
		line-height: 1.25;
		white-space: nowrap;
		color: var(--color-cod-gray);
		animation: running-string 30s linear infinite;
	}
}
