.animate {
	&:not(.is-started):not(.is-completed) {
		visibility: hidden;

		* {
			visibility: inherit;
		}
	}

	&-word {
		display: inline-block;
		vertical-align: top;
		overflow: hidden;
		max-width: 100%;
	}

	&-letter {
		display: inline-block;
	}
}
