.page {
	@include reset;
	overflow-x: hidden;

	&.is-menu-opened {
		@media (--lt-md) {
			overflow: hidden;
		}

		.page-body {
			@media (--lt-md) {
				overflow: hidden;

				&::before {
					position: fixed;
					left: 0;
					top: 0;
					z-index: 999;
					width: 100%;
					height: 100%;
					background-color: rgba(#000, 0.2);
				}
			}

			> :not(.page-header) {
				@media (--lt-md) {
					transform: translate(300px, 0);
				}
			}
		}
	}
}

.page-body {
	@include reset;
	display: flex;
	flex-flow: column;
	overflow-x: hidden;
	min-width: 320px;
	min-height: 100vh;
	background-color: var(--color-bg-default);

	&::before {
		content: "";
		transition: background-color var(--header-transition);
	}

	> :not(.header) {
		@media (--lt-md) {
			transition: transform var(--header-transition);
		}
	}
}
