:root {
	// Colors
	--color-black: #000;
	--color-white: #fff;
	--color-boulder: #7c7c7c;
	--color-cod-gray: #0a0a0a;
	--color-alabaster: #f7f7f7;
	--color-default: var(--color-boulder);
	--color-bg-default: var(--color-alabaster);

	// Fonts
	--font-family-roboto: "Roboto", sans-serif;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

:focus:not(:focus-visible) {
	outline: none;
}

:focus-visible {
	outline: 1px dotted;
	// stylelint-disable-next-line declaration-block-no-duplicate-properties
	outline: 5px auto -webkit-focus-ring-color;
}

::selection {
	color: var(--color-bg-default);
	background: var(--color-default);
}
